<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System Error 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="/js/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="mt-5 ">
        <h2 class="fw-bold"> System 500 Error - 새로고침 이후 사용해주세요.</h2>


    </div>


    <div class="card col col-sm-6 mt-5" style="width: auto;" >
        <div class="card-header">
            <div class="row">
                <div class="col col-sm-2">
                   <span  class="d-flex align-items-center mb-3 mb-md-0 me-md-auto  text-decoration-none">
                        <img src="/img/logo.png">
                    </span>
                </div>
            </div>
        </div>

        <div class="card-body">
            <h5 class="card-title fw-bold">
                <i class="bi bi-exclamation-triangle-fill fw-2 text-danger"></i>
                 새로고침 이후 사용해 주시기 바랍니다.
            </h5>
            <p class="card-text">
                접근 경로가 올바르지 않거나 해당 페이지가 사라져 찾을수 없습니다.<br>
                새로고침 (<kbd>F5</kbd>)키를 누르시고  다시 시도 하시거나 다시 접속 해주시기 바랍니다. 또는
                아래 담당자에게 연락 바랍니다.<br>
                <span class="fw-bold footer">경영기획팀 (내선 : 5534)</span>
            </p>
        </div>
        <div class="card-footer text-end">
            <a href="/" class="btn btn-primary">로그인 화면으로 돌아가기</a>
        </div>
    </div>
</div>


</body>
</html>